.failure-post-conatinar {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 7%;
}
@media screen and (max-width: 768px) {
  .failure-post-conatinar img {
    width: 260px;
    height: 127px;
  }
  .failure-post-conatinar {
    margin-top: 30%;
  }
}
